.header {
    background: black;
    display: flex;
    width: 400px;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.logo {
    width: 200px;

}

.logo img {
    width: 140px;

}

.cart {
    position: relative;
}

.cart img {
    width: 30px;
}

.count {
    background: gray;
    padding: 10px;
    height: 8px;
    line-height: 2px;
    text-align: center;
    color: white;
    font-size: 11px;
    position: absolute;
    bottom: -10px;
    left: -12px;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.23);
    padding: 10px;
    width: 320px;
    border-radius: 4px;
    justify-content: center;
    margin-left: 32px;
    box-shadow: -2px 7px 30px -1px rgba(0,0,0,0.31);
}
.card img {
    width: 100%;
}

.counter {
    width: 300px;
    justify-content: center;
    margin: auto;
    text-align: center;
}


.minus {
    background-color: black;
    border: none;
    color: yellow;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 4px;
    margin: 2px;
}
.plus {
    background-color: black;
    border: none;
    color: yellow;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 4px;
    margin: 2px;
}

.text-count {
        padding: 12px 8px;
        margin: 8px 0;
        font-size: 14px;
        text-align: center; 
        box-sizing: border-box;
      
}
.product-price {
    color: rgb(243, 143, 56);
    font-size: 18px;
    font-weight: 500;
}

.product-title {
    color: rgb(32, 32, 32);
    font-size: 18px;
    font-weight: 500;

}